<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Lập trình web</title>
</head>
<body>
    <div class="app">
        {{>header}}
        <div class="container">
            {{{body}}}  {{!-- Nếu render home thì sẽ là trang home --}}
        </div>
        {{>footer}}
    </div>
</body>
</html>